[data-dropdown] {
  position: relative;
}

[data-dropdown] .dropdown-menu{
  display: none;
}

[data-dropdown]:hover .dropdown-menu,
[data-dropdown].active .dropdown-menu {
  display: block;
  animation: dropDownAnime .3s forwards;
}

@keyframes dropDownAnime {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.dropdown-menu {
  background: #E54;
  border: 2px solid #333;
  position: absolute;
  top: 38px;
  z-index: 200;
}

.dropdown-menu::before {
  content: '';
  position: absolute;
  color: #E54;
  display: block;
  width: 0;
  height: 0;
  top: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #E54;
}

.dropdown-menu li a:hover {
  color: #fff;
}

@media (max-width: 700px) {
  [data-dropdown] .dropdown-menu{
    display: block;
    animation: dropDownAnime .3s forwards;
  }
}